<div class="row">
	{% if template == 'collection' %}
		<ul class="medium-block-grid-3 daily-design">
	{% else %}			
		<ul class="medium-block-grid-3 daily-design">
	{% endif %}

	{% if type == 'today' %}
		{% assign designs = settings.todays_designs | split: ',' %}
	{% else %}
		{% assign designs = settings.lastcall_designs | split: ',' %}
	{% endif %}

    {% for handle in designs %}

    	{% assign dailyDesign = collections[handle] %}

    	{% if dailyDesign.metafields.global.status == type %}

			<li>
				<a href="/collections/{{dailyDesign.handle}}">
					<img class="lazyload" data-src="{{ dailyDesign.image.src | img_url: 'large' }}" src="" alt="{{collections[handle].title}} - Collection Image - RIPT Apparel"/>
					{% if type == 'today' %}
						<span class="price">$13</span>
					{% else %}
						<span class="price">$18</span>
					{% endif %}
				</a>
				<h5>{{ dailyDesign.title }}</h5>
				<a href="/pages/member/?{{ dailyDesign.metafields.global.artist-name }}">{{ dailyDesign.metafields.global.artist-name }}</a>
			</li>

		{% endif %}
	 {% endfor %}

	</ul>
 </div>